body{
	font-family: "Lato", Arial;
}

#header{
	height: 100vh;
	//padding-bottom: 100px;
	#logo{
		color: black;
		position: absolute;
		font-size: 3.5em;
		text-shadow: 1px 0px white;
		padding: 20px;
	}
	.landing{
        top: 0;
        margin: 0; 
        video{
          height: 100%;
          width: 100%;
          
        }

        .hero-overlay{
          position:absolute;
          width:100%;
          margin-top: 100px;
        }
        h2{
          vertical-align: middle;
          margin-top: 21%;
          //margin-bottom: 5%;
          font-size: 2.5em;
          //margin-left: 48%;
          letter-spacing: 4px;
          font-family: courier;
          text-align: center;
          text-shadow: 1px 0px white;
        }
    }
}