// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */



.home-page{
	margin: 0% 20px 20px 30px;
}

@media(max-width: 768px) {
	.pull-left{
		float: none !important;
	}

	.pull-right{
		float: none !important;
	}
}

.icon-column{
	//margin: 20px;
	margin-bottom: 25px;
	margin-top: 25px;
	border-radius: 10px;
	background-color: white;
	border: 5px solid black; 
	padding: 25px;
	min-height: 300px;
	width: 48%;

	h2{
		color: #428bca; //#0033CC;
		font-weight: 700;
	}
	@media(min-width: 992px) and (max-width: 1700px) {
		min-height: 465px;
	}

	@media(min-width: 769px) and (max-width: 992px) {
		min-height: 550px;
	}

	@media(max-width: 768px) {
		width: 100%;
		min-height: auto;
	}

	.icon-column-inner{
		height: 250px;
		//width: 250px;
		@media(max-width: 992px) { 
			display: block;
			text-align: center;
			float: none !important;
		}

		img{
			height: 200px;
			width: 200px;
			float: right;
			@media(max-width: 992px) { 
				float: none;
			}
		}
	}
}

.action-button-main{
	text-align: center;
	font-size: 2em;
	padding: 15px;
	margin: 15px;
	background-color: black;
	border: 2px solid gray;
	white-space: normal;
}

.contact-mailing{
	margin-bottom: 5%;
	display: inline-block;
	width: 100%;
	.envelope-icon{
		i{
			font-size: 7em;
			margin: 50px;
			display: inline-block;
			&:hover{
				-webkit-transform: rotate(90deg); 
				-moz-transform: rotate(90deg); 
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg); 
			}
		}
		.contact-info{
			display: inline-block;
			font-size: 1.5em;
			letter-spacing: 5px;
		}
	}
	@media(max-width: 992px) {
		display: block;
	}
	@media(max-width: 768px) {
		margin-left: 0;
	}
}

.structural-page {
	.intro{
		background-color: #D1D1D1;
		font-size: 2.2em;
		letter-spacing: 4px;
		font-weight: 700;
		padding: 40px;
	}
	.container{
		width: 100%;
		background-color: #F1F0F0;
		hr{
			border: 1px solid black;
			margin-top: 40px; 
		}
		.build-pics{
			margin-top: 25px;
			img{
				margin: 10px auto;
			}
		}
		h2{
			color: #428bca;
			letter-spacing: 4px;
			margin-top: 40px;
		}
		.download-pdf{
			font-size: 1.5em;
			padding: 18px;
			margin-top: 30px;
		}
		.structural-doc{
			background-color: black;
		}
	}

	#sidebar {
		padding:30px;
		margin-left: 5%;
	}

	#sidebar li.active {
	  	border:0 #eee solid;
	  	border-right-width:4px;
	}

	
	@media(min-width: 992px) {
		#sidebar.affix-top {
			position: static;
			margin-top:30px;
			width:228px;
		}
	  
		#sidebar.affix {
			position: fixed;
			top:70px;
			width:228px;
		}
	}


}