// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon-column{
	margin-bottom: 25px;
}
.architect-icon {
	position: relative;
	width: 300px;
	height: 300px;
	margin: auto;
	border-radius: 10px;
	border: 5px solid black; 
	text-align: center;

	&:hover {
		border-radius: 10px;
    	background-color: yellow;
	}
	img{
		height: 250px;
		width: 250px;
		vertical-align: middle;
		text-align: center;
		color: #000000;
		line-height: 1.4;
	}
}

.hammer-icon{
	position: relative;
	width: 300px;
	height: 300px;
	margin: auto;
	border-radius: 10px;
	border: 5px solid black; 
	text-align: center;

	&:hover {
		border-radius: 10px;
    	background-color: #FEFB09;
	}
	img{
		height: 250px;
		width: 250px;
		vertical-align: middle;
		text-align: center;
		color: #000000;
		line-height: 1.4;
		margin: 30px;
	}
	i{
		font-size: 15em;
		margin: 20px;
	}
}

.contact-us{
	margin: 1% 5% 5% 10%;
	.envelope-icon{
		i{
			font-size: 10em;
			margin: 50px;
			display: inline-block;
			&:hover{
				-webkit-transform: rotate(90deg); 
				-moz-transform: rotate(90deg); 
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg); 
			}
		}
		.contact-info{
			display: inline-block;
			font-size: 2em;
		}
	}
}