// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */



.home-page{
	margin: 7% 20px 20px 30px;
}

@media(max-width: 768px) {
	.pull-left{
		float: none !important;
	}

	.pull-right{
		float: none !important;
	}
}

.icon-column{
	//margin: 20px;
	margin-bottom: 25px;
	margin-top: 25px;
	border-radius: 10px;
	background-color: white;
	border: 5px solid black; 
	padding: 25px;
	min-height: 300px;
	width: 48%;

	h2{
		color: #428bca; //#0033CC;
		font-weight: 700;
	}
	@media(min-width: 992px) and (max-width: 1700px) {
		min-height: 465px;
	}

	@media(max-width: 768px) {
		width: 100%;
	}

	.icon-column-inner{
		height: 250px;
		//width: 250px;
		@media(max-width: 992px) { 
			display: block;
			text-align: center;
			float: none !important;
		}

		img{
			height: 200px;
			width: 200px;
			float: right;
			@media(max-width: 992px) { 
				float: none;
			}
		}
	}
}

.action-button-main{
	text-align: center;
	font-size: 2em;
	padding: 15px;
	margin: 15px;
	background-color: black;
	border: 2px solid gray;
}

.contact-us{
	margin: 1% 5% 5% 10%;
	float: right;
	.envelope-icon{
		i{
			font-size: 10em;
			margin: 50px;
			display: inline-block;
			&:hover{
				-webkit-transform: rotate(90deg); 
				-moz-transform: rotate(90deg); 
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg); 
			}
		}
		.contact-info{
			display: inline-block;
			font-size: 2em;
		}
	}
}