<div class="container-fluid home-page">
	<div class="row">
	  	<div class="col-md-6 pull-left icon-column">
	  		<div class="row">
		  		<div class="col-md-6">
		  			<h2>Design
		  			</h2>
		  			<p>
		  				Text about architect, design
		  			</p>
		  			<p>
		  				Welcome to Sales Cloud, built on the Salesforce1 Platform. A new world, and a better way to sell. Where field sales sells only on mobile devices. And inside sales is fed nothing less than the best leads. It’s sales managers knowing which deals will close. And when. A world where lead and contact information is always fresh and complete. And everyone performs like an “A” player.
		  			</p>
				</div>
				<div class="col-md-6 icon-column-inner">
			  		<div class="architect-icon">
						<%= image_tag "architecticon.gif" %> 
					</div>
				</div>
			</div>			
		</div>
		<div class="col-md-6 pull-right icon-column">	
			<div class="row">
				<div class="col-md-6">
		  			<h2>Build
		  			</h2>
		  			<p>
		  				Text about build process
		  			</p>
		  			<p>
		  				Build customer loyalty. Increase first call resolution and agent productivity. Improve customer satisfaction by 37%. All while delivering fast customer service from anywhere with Service Cloud, built on the Salesforce1 Platform.
		  			</p>
				</div>
				<div class="col-sm-12 col-md-6 icon-column-inner">
					<div class="hammer-icon">
						<%= image_tag "hammericon.png" %> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	  	<div class="col-sm-12 col-md-6 pull-left icon-column">
	  		<div class="col-sm-12 col-md-6">
	  			<h2>Services
	  			</h2>
	  			<p>
	  				Text about contractor services
	  			</p>
	  			<p>
	  				The ExactTarget Marketing Cloud, built on the Salesforce1 Platform, allows marketers to create 1:1 campaigns like never before. So you can combine traditional digital channels like email, mobile, social, and the web with any conceivable product — from toothbrushes to cars — to turn consumers into customers.
	  			</p>
			</div>
			<div class="col-sm-12 col-md-6 icon-column-inner">
		  		<div class="bulldozer-icon">
					<%= image_tag "bulldozericon.png" %> 
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 pull-right icon-column">
			<div class="col-sm-12 col-md-6">
	  			<h2>Structural Shell
	  			</h2>
	  			<p>
	  				Build structural shell, leave design to designers
	  			</p>
	  			<p>
	  				Say hello to one, all-encompassing, completely open, Customer Platform. New APIs and tools make building apps faster to connect with customers, employees, partners and the next generation of devices and apps.
	  			</p>
			</div>
			<div class="col-sm-12 col-md-6 icon-column-inner">
				<div class="blocks-icon">
					<%= image_tag "stackedblockicon.jpg" %>
				</div>
			</div>
		</div>
	</div>

	<p align="center"><a href="/public/structural" class="btn btn-primary btn-lg action-button-main" role="button">Build Your Modern Structural Shell</a></p>

	<div class="row contact-us">
	  	<div class="col-md-12 envelope-icon">
	  		<i class="fa fa-envelope-square fa-5x"></i>
	  		<div class="contact-info">
	  			Leszek Diadyk<br/>
	  			<a href="mailto:torqcon@gmail.com">torqcon@gmail.com</a><br/>
	  			416-XXX-XXX<br/>
	  		</div>
	  	</div>
	</div>
</div>