<div class="container-fluid">
	<div class="row architect-and-hammer">
	  	<div class="col-md-6 icon-column">
	  		<div class="architect-icon">
				<%= image_tag "architecticon.png" %> 
			</div>
		</div>
		<div class="col-md-6 icon-column">
			<div class="hammer-icon">
				<%= image_tag "hammericon.png" %> 
			</div>
		</div>
	</div>
	<div class="row">
	  	<div class="col-md-6 icon-column">
	  		<div class="architect-icon">
				<%= image_tag "bulldozericon.png" %> 
			</div>
		</div>
		<div class="col-md-6 icon-column">
			<div class="hammer-icon">
				<i class="fa fa-cubes fa-5x"></i>
			</div>
		</div>
	</div>
	<div class="row contact-us">
	  	<div class="col-md-12 envelope-icon">
	  		<i class="fa fa-envelope-square fa-5x"></i>
	  		<div class="contact-info">
	  			Leszek Diadyk<br/>
	  			<a href="mailto:torqcon@gmail.com">torqcon@gmail.com</a><br/>
	  			416-XXX-XXX<br/>
	  		</div>
	  	</div>
	</div>
</div>