
<div class="structural-page">

	<div class="intro">
		<p>Welcome to the greatest. custom home builders. EVER!</p>
		<p>No more questions.</p>
	</div>

	<!-- <div class="structural-side-menu">
		<p>DESIGN</p>
		<p>BUILD</p>
		<p>SERVICES</p>
		<p>STRUCTURAL</p>
	</div>

	<section class="structural-design">
	</section>
	<section class="structural-build">
	</section>
	<section class="structural-services">
	</section>
	<section class="structural-structural">
	</section> -->

	<div class="container">
		<div class="row">
  			<div class="col-md-3" id="leftCol">
              
              	<ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#sec0">WHO WE ARE</a></li>
                  <li><a href="#sec1">DESIGN</a></li>
                  <li><a href="#sec2">BUILD</a></li>
                  <li><a href="#sec3">SERVICES</a></li>
                  <li><a href="#sec4">STRUCTURAL</a></li>
                  <li><a href="#sec5">CONTACT US</a></li>
              	</ul>
              
      		</div>  
      		<div class="col-md-9">
              	<h2 id="sec0">WHO WE ARE</h2>
                <p>Detailed intro.</p>
                <p>Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt.</p>
              	

              	Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
              	<hr>
              
              	<h2 id="sec1">DESIGN</h2>
              	<p>
                Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.
              	</p>
              	<div class="row">
                  <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3>Architect Design 1</h3></div>
                      <div class="panel-body">
                      	<p>Can have words or pics or download button</p>
                      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                      Aliquam in felis sit amet augue.
                      	</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="panel panel-default">
                      <div class="panel-heading"><h3>Architect Design 2</h3></div>
                      <div class="panel-body">
                      	<p>Can have words or pics or download button</p>
                      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                      Aliquam in felis sit amet augue.
                      	</p>
                      </div>
                    </div>
                  </div>  
              	</div>
              
              	<hr>
              
              	<h2 id="sec2">BUILD</h2>
              	<p>
                About the build process, pics below
                </p>
                <p> 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
              	</p>
              	<div class="row build-pics">
              		<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
                  	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
                  	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
              	</div>
              	<div class="row build-pics">
              		<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
                  	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
                  	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
              	</div>
              	<div class="row build-pics">
              		<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
                  	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
                  	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
              	</div>
              
              	<hr>
              
              	<h2 id="sec3">SERVICES</h2>
      			<p>All the services we offer, in brief, either in paragraph or point form.</p>
      			<p>Images are responsive sed @mdo but sum are more fun peratis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut</p>

                <p align="center"><a href="#" class="btn btn-primary btn-lg download-pdf services-doc" role="button">Download Services PDF</a></p>

                <hr>
              
              	<h2 id="sec4">STRUCTURAL</h2>
      			<p>Structural shell building - what is it? What do you offer? Include pics below.</p>
      			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut</p>

                <div class="row build-pics">
              		<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
                  	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
                  	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
              	</div>

                <p align="center"><a href="#" class="btn btn-primary btn-lg download-pdf structural-doc" role="button">Download Structural PDF</a></p>
              
              	<hr>

              	<h2 id="sec5">CONTACT US</h2>
              	<div class="container-fluid contact-mailing">
					<div class="row">
					  	<div class="col-md-6 col-sm-12 pull-left envelope-icon" id="contact-us">
					  		<i class="fa fa-envelope-square fa-5x"></i>
					  		<div class="contact-info">
					  			Leszek Diadyk<br/>
					  			<a href="mailto:torqcon@gmail.com">torqcon@gmail.com</a><br/>
					  			416-XXX-XXX<br/>
					  		</div>
					  	</div>

					  	<div class="col-md-6 col-sm-12 pull-right envelope-icon" id="mailing-info">
					  		<i class="fa fa-location-arrow fa-5x"></i>
					  		<div class="contact-info">
					  			813 Yonge Street, <br/>
					  			Toronto, Ontario, <br/>
					  			M5W 2G9<br/>
					  		</div>
					  	</div>
					</div>
				</div>
      		</div> 
	  	</div>
	</div>
</div>